<ng-template [ngIf]="questPathways && users">
  <div class="container">
    <h1 class="mb-4">Quest Pathways</h1>
    <div *ngFor="let questPathway of questPathways" class="mb-4">
      <!-- User Fullname -->
      <h3>{{getUserById(questPathway.userId).fullname}}</h3>
      <!-- Quest Paths Data -->
      <div class="row"></div>
      <div class="row" *ngFor="let questPath of questPathway.questPaths">
        <div class="col-md-6">
          {{questPath.quest.name}}
        </div>
        <div class="col-md-2">
          <ng-template [ngIf]="questPath.mark.submitted">
            Tick
          </ng-template>
        </div>
        <div class="col-md-2">
          {{questPath.mark.completion !== 0 ? questPath.mark.completion : '-'}}
        </div>
        <div class="col-md-2">
          {{questPath.mark.mark || '-'}}
        </div>
      </div>
    </div>
  </div>
</ng-template>
