<ng-template [ngIf]="questPathways && users">
  <div class="container quest-pathways">
    <h1 class="mb-4">Quest Pathways</h1>
    <div *ngFor="let questPathway of questPathways" class="mb-4">
      <!-- User Fullname -->
      <h3>{{getUserById(questPathway.userId).fullname}}</h3>
      <!-- Quest Paths Data -->
      <div class="row quest-pathways__quest-path-header">
        <div class="col-md-6">Quest</div>
        <div class="col-md-2">Submitted</div>
        <div class="col-md-2">Completion</div>
        <div class="col-md-2">Mark</div>
      </div>
      <div *ngFor="let questPath of questPathway.questPaths"
           class="row quest-pathways__quest-path"
           [ngClass]="{'quest-pathways__quest-path--inactive': questPath.quest.is_active === false}"
      >
        <div class="col-md-6">
          {{questPath.quest.name}}
        </div>
        <div class="col-md-2">
          <ng-template [ngIf]="questPath.mark.submitted">
            <i class="fa fa-check" aria-hidden="true"></i>
          </ng-template>
        </div>
        <div class="col-md-2">
          {{questPath.mark.completion !== 0 ? questPath.mark.completion : '-'}}
        </div>
        <div class="col-md-2">
          {{questPath.mark.mark || '-'}}
        </div>
      </div>
    </div>
  </div>
</ng-template>
