:root {
  --gray: #343a40;
  --dark-gray: #384048;
  --yellow: #fec10f;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

.user-aside {
  height: 100vh;
  padding-right: 0.2em;
  box-sizing: border-box;
  background: var(--dark-gray);
}

.user-aside h1,
.user-aside h2 {
  padding: 1em;
  padding-bottom: 0.2em;
  font-family: "Nunito", sans-serif;
  color: white;
}

.main-content {
  height: 100vh;
  padding: 1em;
  background: #f0f2f5;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  h2,
  h3 {
    font-family: "Nunito", sans-serif;
    text-align: center;
    color: var(--gray);
  }
}

.loader {
  background: var(--gray);
  min-height: 12em;
  padding: 1.5em;
}
