.user-list {
  background: var(--gray);
  font-family: inherit;
  font-size: inherit;
  list-style: none;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-content: left;
  //   box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  padding: 1em;
  padding-right: 0;
  box-sizing: border-box;
  min-height: 70vh;
  overflow: scroll;

  li {
    width: 100%;
    padding: 0;
    // background: red;
  }

  li button {
    color: rgba(255, 255, 255, 0.637);
    text-align: left;
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 1em;
    outline: none;
    border: none;
    background: none;
    border-radius: 0.15em;
  }

  .user-info-button:hover {
    background: var(--dark-gray);
    color: white;
  }

  .user-info-button.active {
    background: var(--yellow);
    color: var(--dark-gray);
  }
}
