.user-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1em;
  background: white;
  list-style: none;
  width: auto;
  min-height: 70vh;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .user-info-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.2em;

    h1 {
      color: #404040;
      font-size: 2em;
    }

    h2 {
      color: #007bff;
      font-size: 1.2em;

      span {
        color: lightgray;
      }
    }
  }
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
